html {
  scroll-behavior: smooth;
}

body {
  background-color: #2D3A8C;
  height: 100%;
  color:#F5F7FA
}



/* #app {
  height: 100%;
  background-image: url("../src/assets/images/pinkleak.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
} */
